body {
	font-family: "Roboto", "Helvetica" sans-serif;
}

h1, h2, h3 {
	font-family: "Roboto", "Helvetica" sans-serif;
	border: none;
}

h4, h5, h6 {
	font-family: "Roboto", "Helvetica" sans-serif;
}

h1.header {
	font-family: "Roboto", "Helvetica" sans-serif;
	text-align: center;
	background-color: #F7F7F7;
	border: 1px solid #E5E5E5;
	border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
}

h1.header a {
	color: brown;
	font-size: 18px;
}

/* Sidebar */

header {
	margin: 0 auto;
	text-align: center;
	background-color: #FBFAF7;
	border: none;
	padding-left: 25px;
	width: 185px;
}

header ul {
	margin-top: 10px;
	margin-left: 15px;
}

header li {
	background: transparent;
	border: none;
	box-shadow: none;
	margin-bottom: 0px;
}

header li:hover {
	background: none;
}

header a:hover {
	text-decoration: none;
}

p.tagline {
	font-size: 14px;
	line-height: 1.4em;
	margin-bottom: 10px;
}

p.tagline a {
	font-weight: bold;
	color: black;
}

#share-buttons {
	text-align: center;
}

#share-buttons img {
	width: 32px;
	height: 32px;
	padding: 0px;
	border: none;
	margin: 0;
	box-shadow: 0;
	display: inline;
}

#about-links {
	color: black;
}

#about-links a {
	color: #C30000;
}

/* Content */

.post {
	margin-bottom: 40px;
	border-bottom: 1px solid #BBB;
}

.post-header { 
	margin: 5px 0px 10px 0px;
}

.post-header a {
	color: #3A8888;
	text-decoration: none
}

.post-header a:hover {
	color: #3AAAAA;
	text-decoration: none
}

.post-content {
	padding-top: 20px;
	padding-bottom: 20px;
}

ul.posts {
	list-style-type: none;
}

.post-header .tag,
h2 .tag {
	color: brown;
	background-color: white;
	border: 1px solid #E5E5E5;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 1px 5px 1px 5px;
}

/* Code blocks */

pre.prettyprint {
    display: block;
    overflow: auto;
    width: auto;
    /* max-height: 600px; */
    white-space: pre;
    word-wrap: normal;
    padding: 10px;   
    font-family: "Inconsolata, Courier", monospace;
}

pre .highlight-code {
	font-weight: bold;
  	background-color: #474747;
}

footer small {
	font-size: 12px;
}

code {
	font-size: 12px;
	line-height: 1.4em;
}

img {
	display: block;
	margin: 10px 0px 10px 0px;
}

/* Tables */
.dinky-table th, 
.dinky-table td {
	font-family: "Roboto", "Helvetica" sans-serif;
}
.dinky-table th {
	padding: 5px 5px;
	font-size: 14px;
}
.dinky-table td {
	padding: 0px 5px;
	background: #EEE;
}

ul.list-style-none li {
	list-style: none;
}

.bold {
	font-weight: bold;
}

@media print, screen and (max-width: 960px) {
	body {
		padding: 10px 10px 0 0;
	}
	footer {
		text-align: center;
	}
	section {
    	padding: 20px 10px 20px 10px;
	}
	header {
		padding: 10px 0 0 0;
}

@media print, screen and (max-width: 720px) {
	code {
		word-wrap: normal;
	}
}

@media print, screen and (max-width: 480px) {
	body {
		padding: 10px 0px 0 0;
	}
	footer {
		padding-top: 5px;
	}

	footer a {
		display: inline-block;
	}
}