<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>Rob Hoffmann</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/bundle.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="scripts/bundle.min.js"></script>
</head>
<body>
  <div id="app" ng-app="app">
    <header class="nav-container">
      <div class="nav-logo">
        <a href="#/">RH</a>
      </div>
      <div class="nav-blurb">Thoughts from a less vocal member of the development community.</div>
      <div class="nav-contact-icons" ng-controller="ContactCtrl">
        <ul>
          <a href="{{item.url}}" ng-repeat="item in contact">
            <li class="nav-contact-{{item.service}}" style="background: url(/images/icons/{{item.service}}.png)"></li>
          </a>
        </ul>
      </div>
      <nav ng-controller="NavCtrl" ng-cloak>
        <ul>
          <li ng-repeat="navItem in navItems">
            <a ng-class="getActive('{{navItem.href}}')" href="{{navItem.href}}">{{navItem.text}}</a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="main">
      <div class="view {{pageClass}}" ng-view ng-cloak></div>
    </div>
  </div>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64538863-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>