---
layout: page
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<!-- <ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul> -->

{% assign tags = site.tags | sort %}
{% for tag in tags %}
  {% assign pages_list = tag[1] | sort %}  
  <div class="tag-section hoverable">
    <h5 id="{{ tag[0] }}-ref">
      <span class="tag">{{ tag[0] }}</span> - {{ pages_list.size }} {% if pages_list.size <= 1 %}entry{% else %}entries{% endif %}
    </h5>
    <ul>
      {% include JB/pages_list %}
    </ul>
  </div>
{% endfor %}
